[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./looks.cfg

# Path to python file. Can use relative path from here.
python_file = ./agent.py

# Name of the bot in-game
name = Bowtie
[Details]
developer = _DaCoolOne_

description = None

# Fun fact about the bot
fun_fact = None

# Link to github repository
github = None

# Programming language
language = Python

maximum_tick_rate_preference = 120
